{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>不看图片标注</title>
  <!-- 下载到本地的bootstrap不好使，只能用线上的 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
</head>

<body>
  {% csrf_token %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">数据标注系统</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/show/1/">标注展示</a></li>
        <!-- 登陆成功显示的内容 -->
        {% if request.session.info.username %}
        <li><a href="/api/to_annotation_without_image/">不看图片标注</a></li>
        <li><a href="/api/to_annotation_with_image/">看图片标注</a></li>
        {% endif %}
        {% if is_admin %}
        <li><a href="/check_annotation/">查看标注</a></li>
        <li><a href="/management/">后台管理</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="login_text">
          <p class="navbar-text">你好，{{ request.session.info.username }}</p>
        </li>
      </ul>
    </div>
  </nav>

  <!-- 进度条 -->
  <div class="progress" style="margin-top: 15px; width:50%; margin: auto;">
    <div id="p" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40"
      aria-valuemin="0" aria-valuemax="100" style="width: 0%; min-width: 60px;">
      {{ annotated_amount }} / {{ total }}
    </div>
  </div>

  <form class="layui-form layui-form-pane" action="" style="width: 80%; margin: auto; margin-top: 15px;">
    <div style="text-align: center;">
      <div class="layui-form-item layui-form-text" style="display: inline-block; width: 46%; vertical-align: bottom;">
        <label class="layui-form-label" style="margin-bottom: 0px;">英文源文</label>
        <div class="layui-input-block">
          <textarea class="layui-textarea" style="font-size: 18px;" disabled>{{ caption }}</textarea>
        </div>
      </div>

      <div class="layui-form-item layui-form-text" style="display: inline-block; width: 46%; vertical-align: bottom;">
        <label class="layui-form-label" style="margin-bottom: 0px;">机器翻译</label>
        <div class="layui-input-block">
          <textarea id="mt" placeholder="{{ zh_machine_translation }}" class="layui-textarea" disabled
            style="font-size: 18px;"></textarea>
        </div>
      </div>
    </div>

    <div style="text-align: center;">
      <div class="layui-form-item" pane style="width: 250px; display: inline-block; vertical-align: bottom;">
        <label class="layui-form-label" style="width: 120px; background-color: #009688; color: white;">英文是否歧义</label>
        <div class="layui-input-block" style="padding-left: 10px;">
          {% if qiyi %}
          <input type="checkbox" lay-skin="switch" lay-filter="switchTest" lay-text="是|否" checked>
          {% else %}
          <input type="checkbox" lay-skin="switch" lay-filter="switchTest" lay-text="是|否">
          {% endif %}
        </div>
      </div>

      <div class="layui-form-item" style="display: inline-block; vertical-align: bottom;">
        <div class="layui-input-block">
          <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </div>

    <!-- 隐藏的输入，标注是用户的第几个任务 -->
    <input class="layui-input" name="index" type="hidden" value="{{ annotated_amount }}">

    <div class="layui-form-item layui-form-text" style="margin-left: 4%; margin-right: 4%;">
      <label class="layui-form-label"
        style="width: 120px; margin-bottom: 0px; background-color: #009688; color: white;">译文1</label>
      <div class="layui-input-block">
        <textarea id="zh1" name="zh1" lay-verify="required" placeholder="请输入不看图片翻译的译文" class="layui-textarea"
          style="font-size: 18px;">{{ zh1 }}</textarea>
      </div>
    </div>

    <div class="layui-form-item layui-form-text" style="margin-left: 4%; margin-right: 4%;">
      <label class="layui-form-label"
        style="width: 120px; margin-bottom: 0px; background-color: #009688; color: white;">译文2</label>
      <div class="layui-input-block">
        {% if qiyi %}
        <textarea id="zh2" name="zh2" placeholder="英文是歧义时，填写" class="layui-textarea"
          style="font-size: 18px;">{{ zh2 }}</textarea>
        {% else %}
        <textarea id="zh2" name="zh2" placeholder="英文是歧义时，填写" class="layui-textarea" disabled
          style="font-size: 18px;">{{ zh2 }}</textarea>
        {% endif %}
      </div>
    </div>
  </form>

  <div id="all_layerpage" style="text-align: center;"></div>

  <script src="{% static 'layui/layui.js' %}"></script>
  <script>
    layui.use(['layer', 'jquery', 'form', 'element', 'util', 'laypage'], function () {
      var layer = layui.layer,
        $ = layui.$,
        form = layui.form,
        element = layui.element,
        util = layui.util,
        laypage = layui.laypage;

      // 设置ajax POST请求需要csrf
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          }
        }
      });

      //指定开关事件
      form.on('switch(switchTest)', function (data) {
        if (data.elem.checked) {
          // 将zh2也设置为必填
          $("#zh2").attr("disabled", false);
          $("#zh2").attr("lay-verify", "required");
          layer.tips('请填写译文2', data.othis);
        }
        else {
          // 将zh2也设置为必不填
          $("#zh2").attr("disabled", true);
          $("#zh2").removeAttr("lay-verify");
          $('#zh2').val('');
          layer.tips('无需填写译文2', data.othis);
        }
      });

      //提交事件
      form.on('submit(demo1)', function (data) {
        $.ajax({
          url: "/api/get_annotation_without_image/",
          data: data.field,  // 数据字典
          async: true,
          cache: false,
          type: "POST",
          dataType: "json",
          success: function (result) {
            $(window).attr('location', "/annotation_without_image/" + result['annotated_amount']);
          }
        }); //ajax结束
      });

      laypage.render({
        elem: 'all_layerpage',  // id
        count: "{{ total }}",
        limit: 1, // 每页显示一个
        curr: "{{ annotated_amount }}",
        layout: ['prev', 'page', 'next'],
        jump: function (obj, first) {
          // 修改进度条的宽度
          $("#p").width(600 * "{{ annotated_amount }}" / "{{ total }}");

          if (!first) { // 不是第一次访问，则进行页面跳转
            $(window).attr('location', "/annotation_without_image/" + obj.curr);
          }
        } //分页跳转结束
      });
    });
  </script>
</body>

</html>