{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>不看图片标注</title>
  <!-- 下载到本地的bootstrap不好使，只能用线上的 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
</head>

<body>
  {% csrf_token %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">数据标注系统</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/show/1/">标注展示</a></li>
        <!-- 登陆成功显示的内容 -->
        {% if request.session.info.username %}
        <li><a href="/api/to_annotation_without_image/">不看图片标注</a></li>
        <li><a href="/api/to_annotation_with_image/">看图片标注</a></li>
        {% endif %}
        {% if is_admin %}
        <li><a href="/check_annotation/">查看标注</a></li>
        <li><a href="/management/">后台管理</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="login_text">
          <p class="navbar-text">你好，{{ request.session.info.username }}</p>
        </li>
      </ul>
    </div>
  </nav>

  <!-- 进度条 -->
  <div class="progress" style="margin-top: 15px; width:50%; margin: auto;">
    <div id="p" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40"
      aria-valuemin="0" aria-valuemax="100" style="width: 0%; min-width: 60px;">
      {{ annotated_amount }} / {{ total }}
    </div>
  </div>

  <div class="layui-container" style="width: 70%; margin: auto; margin-top: 15px;">
    <form class="layui-form layui-form-pane" action="">
      <div class="layui-row" style="margin-bottom: 30px;">
        <!-- 图片 -->
        <div class="layui-col-md6">
          <div class="layui-row" style="align-items: center;">
            <div class="layui-anim layui-anim-scale" style="text-align: center;">
              <img id="img" src={% static image_name %} class="img-thumbnail">
            </div>
          </div>
        </div>

        <div id="right_region" class="layui-col-md5">
          <!-- 不看图片标注的译文 -->
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" style="margin-bottom: 0px;">不看图片标注的译文</label>
            <div class="layui-input-block">
              <textarea class="layui-textarea" style="font-size: 18px;" disabled>{{ zh_without_image }}</textarea>
            </div>
          </div>

          <!-- 显示划中单词，进行修正 -->
          <div class="layui-input-block"
            style="text-align: center; margin-left: 0px; margin-top: 40px; margin-bottom: 0px;">
            <!-- 显示区 -->
            <input id="fix_p" type="text" class="layui-input" style="display: inline; width: 200px; height: 40px;"
              placeholder="显示划中的单词" disabled>

            <!-- 下拉菜单 -->
            <div style="display: inline; margin-left: 5%; vertical-align: bottom;">
              <label style="font-size: 18px; display: inline;">修正类型</label>
              <select id="fix_select" lay-ignore style="display: inline; margin-left: 2%; height: 25px;">
                <option value=""></option>
                <option value="0" style="color: HotPink;">名词</option>
                <option value="1" style="color: Tomato;">动词</option>
                <option value="2" style="color: DeepSkyBlue;">形容词</option>
                <option value="3" style="color: palegreen;">数量</option>
                <option value="4" style="color: MediumOrchid;">细化</option>
              </select>
            </div>
          </div>

          <div class="layui-input-block"
            style="text-align: center; margin-left: 0px; margin-top: 30px; margin-bottom: 0px;">
            <!-- 输入区 -->
            <input id="fix_input" type="text" placeholder="请输入修正后的词" class="layui-input"
              style="display: inline; width: 200px; height: 40px;">

            <!-- 保存和删除按钮 -->
            <div style="margin-left: 5%; display: inline; vertical-align: bottom;">
              <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-radius"
                onclick="fix_addlabel()">添加修正</button>
              <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-radius"
                onclick="fix_dellabel()">删除修正</button>
            </div>
          </div>

        </div>
      </div>

      <div class="layui-row">
        <div class="layui-col-md7">
          <!-- 标注看图片译文文本框 -->
          <div class="layui-form-item layui-form-text" style="width: 70%; margin: auto;">
            <label class="layui-form-label"
              style="width: 170px; margin-bottom: 0px; background-color: #009688; color: white; height: 40px;">请看图片标注译文</label>

            <div class="layui-input-block">
              <div id="zh" onmouseup="fix_mouseUp_zh()" contenteditable="true"
                style="height: 100px; border: 2px solid black; font-size: 18px; border-color: rgb(162, 156, 156);">{{ zh }}</div>
            </div>
          </div>
        </div>

        <div class="layui-col-md3">
          <!-- 修正结束按钮 -->
          <div class="layui-form-item" style="text-align: center; margin-top: 40px;">
            <button id="save_fix" class="layui-btn">修正结束</button>
          </div>
          <!-- 提交译文按钮 -->
          <div class="layui-form-item" style="text-align: center;">
            <button id="submit_zh" type="submit" class="layui-btn layui-btn-disabled" lay-submit="" lay-filter="demo2">提交译文</button>
          </div>
        </div>
      </div>

      <!-- 隐藏的输入，单纯修正之后的译文 -->
      <p id="old_zh" hidden>{{ zh }}</p>

    </form>
  </div>

  <div id="all_layerpage" style="text-align: center; margin-top: 40px;"></div>

  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{% static 'layui/layui.js' %}"></script>
  <script>
    layui.use(['layer', 'jquery', 'form', 'element', 'util', 'laypage'], function () {
      var layer = layui.layer,
        $ = layui.$,
        form = layui.form,
        element = layui.element,
        util = layui.util,
        laypage = layui.laypage;

      // 设置ajax POST请求需要csrf
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          }
        }
      });

      form.on('submit(demo2)', function (data) {
        $.ajax({
          url: "/api/get_annotation_with_image/",
          data: {
            'index': '{{ annotated_amount }}',
            'zh': document.getElementById('zh').innerHTML,
            'old_zh': document.getElementById('old_zh').innerHTML,
          },  // 数据字典
          async: true,
          cache: false,
          type: "POST",
          dataType: "json",
          success: function (result) {
            if (result['finished']) {
              layer.msg('任务已经都完成了！', { icon: 1 });
              // 之后跳转到管理页面
              setTimeout(function () {
                $(window).attr('location', "/management/");
              }, 1500);
            }
            else {
              $(window).attr('location', "/annotation_with_image/" + result['annotated_amount']);
            }
          }
        }); //ajax结束
        return false;
      });

      laypage.render({
        elem: 'all_layerpage',  // id
        count: "{{ total }}",
        limit: 1, // 每页显示一个
        curr: "{{ annotated_amount }}",
        layout: ['prev', 'page', 'next'],
        jump: function (obj, first) {
          // 修改进度条的宽度
          $("#p").width(600 * "{{ annotated_amount }}" / "{{ total }}");

          if (!first) { // 不是第一次访问，则进行页面跳转
            $(window).attr('location', "/annotation_with_image/" + obj.curr);
          }
        } //分页跳转结束
      });
    });
  </script>

  <script type="text/javascript">
    // HTML代码转换
    function decodeHtml(s) {
      var HTML_DECODE = {
        "&lt;": "<",
        "&gt;": ">",
        "&amp;": "&",
        "&nbsp;": " ",
        "&quot;": "\"",
        "&copy;": ""

        // Add more
      };

      var REGX_HTML_ENCODE = /"|&|'|<|>|[\x00-\x20]|[\x7F-\xFF]|[\u0100-\u2700]/g;

      var REGX_HTML_DECODE = /&\w+;|&#(\d+);/g;

      var REGX_TRIM = /(^\s*)|(\s*$)/g;

      s = (s != undefined) ? s : "";
      return (typeof s != "string") ? s :
        s.replace(REGX_HTML_DECODE,
          function ($0, $1) {
            var c = HTML_DECODE[$0];
            if (c == undefined) {
              // Maybe is Entity Number
              if (!isNaN($1)) {
                c = String.fromCharCode(($1 == 160) ? 32 : $1);
              } else {
                c = $0;
              }
            }
            return c;
          });
    };

    // 全局变量
    var huazhong_html_dom;  // 页面元素，划词调用getText()函数时，会记录下当前划词的HTML元素
    var start;        // 字符串索引，划词调用getText()函数时，会记录下当前划词区域的首位置
    var end;          // 字符串索引，划词调用getText()函数时，会记录下当前划词区域的末位置

    window.onload = function () {
      // 缩小图片高度
      var r_h = $('#right_region').outerHeight();
      var l_h = $('#img').outerHeight();
      var imgWidth = $("#img").width();
      // console.log(r_h, l_h, imgWidth);
      if (l_h > r_h) {
        $("#img").width((r_h * imgWidth) / l_h);
        $("#img").height(r_h);
      }

      // 渲染后端传递给前端的中文
      document.getElementById('zh').innerHTML = $('#zh').text();
    }

    // 得到划词区域
    function getText() {
      var selection = window.getSelection();
      if (selection.anchorNode.data != selection.focusNode.data) {
        alert('划中的区域过大!!!');
        return '';
      }

      start = selection.anchorOffset;
      end = selection.focusOffset;

      // 从后向前划词时，更改start和end的顺序
      if (start > end) {
        t = start;
        start = end;
        end = t;
      }
      if (selection.toString().length != end - start) {
        alert('划中的区域的长度与划中位置索引的计算结果不一致!!!');
        return '';
      }

      huazhong_html_dom = selection.anchorNode;

      return selection.toString();
    }

    // 鼠标抬起时，获得鼠标划中的字符串
    function fix_mouseUp_zh() {
      var text = getText();
      if (text != '') {
        $("#fix_p").val(text);
      }
    }

    // 添加修正
    function fix_addlabel() {
      if (huazhong_html_dom.parentNode.style.getPropertyValue('background-color') != '') {  // span区域才有style background-color
        alert('此处已添加过修正, 无法继续添加');
        return;
      }

      var options = $("#fix_select option:selected");
      var _p = $('#fix_p').val();
      var _input = $('#fix_input').val(); //获取input text中的值
      if (_p == '') {
        alert("还没有划词呢~");
        return;
      }
      if (_input == '') {
        alert("还没有修正呢~");
        return;
      }
      if (options.val() == '') {
        alert("还没有选择修正类型呢~");
        return;
      }

      var tohtml; // 加<span>后的HTML代码
      switch (options.val()) {
        case '0':
          tohtml = '<span style="background-color:HotPink; margin: 0px 1px;" title=名词：' + _p + '>' + _input + '</span>';
          break;
        case '1':
          tohtml = '<span style="background-color:Tomato; margin: 0px 1px;" title=动词：' + _p + '>' + _input + '</span>';
          break;
        case '2':
          tohtml = '<span style="background-color:DeepSkyBlue; margin: 0px 1px;" title=形容词：' + _p + '>' + _input + '</span>';
          break;
        case '3':
          tohtml = '<span style="background-color:PaleGreen; margin: 0px 1px;" title=数量：' + _p + '>' + _input + '</span>';
          break;
        case '4':
          tohtml = '<span style="background-color:MediumOrchid; margin: 0px 1px;" title=细化：' + _p + '>' + _input + '</span>';
          break;
      }

      // 修改HTML
      var tmp = huazhong_html_dom;
      var html_dom_parent = huazhong_html_dom.parentNode;
      var html_dom_text = huazhong_html_dom.data;
      var origin_html = html_dom_parent.innerHTML;  // 取出原HTML代码

      var whichone = 0;
      while (tmp.previousSibling != null)  //找到划词区域所在HTML代码中的位置
      {
        tmp = tmp.previousSibling;
        if ('style' in tmp)  // span才有style
          whichone += 1;
      }

      var pre_idx = -7; // </span>的长度等于7
      if (whichone > 0) {   // 找到origin_html中第whichone个</span>所在的位置
        pre_idx = find(origin_html, '</span>', whichone - 1);
      }
      pre_idx += 7;
      var post_idx = pre_idx + html_dom_text.length;
      var pre_substr = origin_html.substr(0, pre_idx); // 划中区域前面的子串
      var post_substr = origin_html.substr(post_idx);  // 划中区域后面的子串

      // 更新下面的html样式
      html_dom_parent.innerHTML = pre_substr + html_dom_text.substr(0, start) + tohtml + html_dom_text.substr(end) + post_substr;

      // 重置fix区域
      $('#fix_input').val("");
      $('#fix_p').val("");
      $('#fix_select').val("");
    }

    // 删除修正
    function fix_dellabel() {
      var tmp = huazhong_html_dom.parentNode;
      if (tmp.style.getPropertyValue('background-color') == '') {  // span区域才有style background-color
        alert('此处没有添加修正, 无法删除');
        return;
      }

      var whichone = 0;
      while (tmp != null)  //找到划词区域所在HTML代码中的位置
      {
        if ('style' in tmp)  // span才有style
          whichone += 1;
        tmp = tmp.previousSibling;
      }

      var origin_html = huazhong_html_dom.parentNode.parentNode.innerHTML;
      var pre_idx = 0;
      pre_idx = find(origin_html, '<span style="background-color:', whichone - 1); // 找到origin_html中第whichone个</span>所在的位置

      var pre_substr = origin_html.substr(0, pre_idx); // 划中区域前面的子串

      // 得到修正之前的原文本
      var old_word = get_hidden_text(origin_html.substr(pre_idx))[0];

      var post_substr = origin_html.substr(pre_idx).replace(/<span (.*?)<\/span>/, old_word);  // 划中区域后面的子串

      // 修改下面的文本
      huazhong_html_dom.parentNode.parentNode.innerHTML = pre_substr + post_substr;

      // 重置fix区域
      $('#fix_input').val("");
      $('#fix_p').val("");
      $('#fix_select').val("");
    }

    // 字符串查找
    function find(str, cha, num) {
      var x = str.indexOf(cha);
      for (var i = 0; i < num; i++) {
        x = str.indexOf(cha, x + 1);
      }
      return x;
    }

    // 获取之前修改的文本
    function get_hidden_text(res) {
      var old_word = new Array();
      var i = -1;
      var num = 0;
      while (i < res.length - 1) {
        i = res.indexOf('title=', i + 1);
        if (i == -1) {
          break;
        }
        else {
          end = res.indexOf('">', i + 6);
          tmp = res.substring(i + 7, end);
          old_word[num] = tmp.substr(tmp.indexOf('：') + 1);
          num += 1;
        }
      }
      return old_word;
    }

    // 保存修正按钮
    $('#save_fix').on('click', function () {
      document.getElementById('old_zh').innerHTML = document.getElementById('zh').innerHTML;
      $('#submit_zh').removeClass("layui-btn-disabled");
      return false; // 禁止刷新页面
    });

  </script>

</body>

</html>