{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>后台管理</title>
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo layui-hide-xs layui-bg-black">数据标注系统</div>
      <!-- 头部区域（可配合layui 已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <!-- 移动端显示 -->
        <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
          <i class="layui-icon layui-icon-spread-left"></i>
        </li>

        <li class="layui-nav-item layui-hide-xs"><a href="/show/1/">标注展示</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="/api/to_annotation_without_image/">不看图片标注</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="/api/to_annotation_with_image/">看图片标注</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="/check_annotation/">查看标注</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="/management/">后台管理</a></li>
      </ul>
    </div>

    <div class="layui-body" style="width: 70%; margin: auto;">
      <table id="demo" lay-filter="test"></table>
    </div>

  </div>

  <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="add">添加任务量</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除任务量</a>
  </script>

  <script src="{% static 'layui/layui.js' %}"></script>
  <script>
    layui.use(['element', 'layer', 'util', 'table', 'form'], function () {
      var element = layui.element
        , table = layui.table
        , layer = layui.layer
        , util = layui.util
        , form = layui.form
        , $ = layui.$;

      // 设置ajax POST请求需要csrf
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
          }
        }
      });

      //输入验证
      form.verify({
        positiveWholeNumberRequiredTrue1: [/^([1-9]|[1-9][0-9]|[1-2][0-9][0-9]|300)$/, '只能填写小于等于300的正整数'],//必填，且只能输入正整数
        positiveWholeNumberRequiredTrue2: [/^([1-9][0-9]*)$/, '只能填写正整数'],//必填，且只能输入正整数
      });

      //执行渲染
      table.render({
        elem: '#demo' //指定原始表格元素选择器（推荐id选择器）
        , cellMinWidth: 80
        , cols: [[
          { field: 'username', title: '用户名', unresize: true, width: 80 },
          { field: 'first1', title: '第一阶段已完成任务', unresize: true, width: 180 },
          { field: 'first2', title: '第一阶段待完成任务', unresize: true, width: 180 },
          { field: 'second1', title: '第二阶段已完成任务', unresize: true, width: 180 },
          { field: 'second2', title: '第二阶段待完成任务', unresize: true, width: 180 },
          { fixed: 'right', title: '操作', width: 280, minWidth: 240, toolbar: '#barDemo' }
        ]] //设置表头
        , url: '/api/show_management_table/'
        , method: 'post'
      });

      //触发单元格工具事件
      table.on('tool(test)', function (obj) { // 双击 toolDouble
        var username = obj.data.username;

        if (obj.event === 'del') {
          layer.open({
            type: 1,
            resize: false,  // 不允许拉伸
            area: '450px',
            shadeClose: true, // 可以点击弹出层之外的区域来关闭弹出层
            title: '删除任务量',
            content: [
              '<ul class="layui-form layui-form-pane" style="margin: 15px;">',
              '<li class="layui-form-item">',
              '<div class="layui-input-block" style="margin: auto">',
              '<input type="radio" name="task" value="first" title="第一阶段任务" checked>',
              '<input type="radio" name="task" value="second" title="第二阶段任务">',
              '</div>',
              '<li class="layui-form-item">',
              '<label class="layui-form-label">个数</label>',
              '<div class="layui-input-block">',
              '<input class="layui-input" name="username" type="hidden" value=' + username + '>',
              '<input class="layui-input" lay-verify="required|positiveWholeNumberRequiredTrue2" name="number">',
              '</div>',
              '</li>',
              '<li class="layui-form-item" style="text-align: center;">',
              '<button type="submit" lay-submit lay-filter="del" class="layui-btn">提交</button>',
              '</li>',
              '</ul>'].join(''),
            success: function (layero, index) { // 弹出层执行成功后，可执行下面的代码
              // 点击提交，发送数据给后端
              form.render().on('submit(del)', function (data) {
                $.ajax({
                  url: "/api/management_del/",
                  data: data.field,  // 数据字典
                  async: true,
                  cache: false,
                  type: "POST",
                  dataType: "json",
                  success: function (result) {
                    if (result['success']) {
                      layer.msg('删除成功！', { icon: 1 });
                      // 登录成功之后的操作
                      setTimeout(function () {
                        location.reload();
                      }, 1500);
                    }
                    else {
                      layer.msg('删除失败！', { icon: 2 });
                    }
                  }
                }); //ajax结束
                layer.close(index); //关闭弹出层
              }); // submit数据发送结束
            }
          });
        } else if (obj.event === 'add') {
          layer.open({
            type: 1,
            resize: false,  // 不允许拉伸
            area: '450px',
            shadeClose: true, // 可以点击弹出层之外的区域来关闭弹出层
            title: '添加任务量',
            content: [
              '<ul class="layui-form layui-form-pane" style="margin: 15px;">',
              '<li class="layui-form-item">',
              '<div class="layui-input-block" style="margin: auto">',
              '<input type="radio" name="task" value="first" title="第一阶段任务" checked>',
              '<input type="radio" name="task" value="second" title="第二阶段任务">',
              '</div>',
              '<li class="layui-form-item">',
              '<label class="layui-form-label">个数</label>',
              '<div class="layui-input-block">',
              '<input class="layui-input" name="username" type="hidden" value=' + username + '>',
              '<input class="layui-input" lay-verify="required|positiveWholeNumberRequiredTrue1" name="number" placeholder="1-300">',
              '</div>',
              '</li>',
              '<li class="layui-form-item" style="text-align: center;">',
              '<button type="submit" lay-submit lay-filter="add" class="layui-btn">提交</button>',
              '</li>',
              '</ul>'].join(''),
            success: function (layero, index) { // 弹出层执行成功后，可执行下面的代码
              // 点击提交，发送数据给后端
              form.render().on('submit(add)', function (data) {
                $.ajax({
                  url: "/api/management_add/",
                  data: data.field,  // 数据字典
                  async: true,
                  cache: false,
                  type: "POST",
                  dataType: "json",
                  success: function (result) {
                    if (result['success']) {
                      layer.msg('添加成功！', { icon: 1 });
                      // 登录成功之后的操作
                      setTimeout(function () {
                        location.reload();
                      }, 1500);
                    }
                    else {
                      layer.msg('添加失败！', { icon: 2 });
                    }
                  }
                }); //ajax结束
                layer.close(index); //关闭弹出层
              }); // submit数据发送结束
            }
          });
        }
      });
    });
  </script>
</body>

</html>