{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>后台管理</title>
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo layui-hide-xs layui-bg-black">数据标注系统</div>
      <!-- 头部区域（可配合layui 已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <!-- 移动端显示 -->
        <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
          <i class="layui-icon layui-icon-spread-left"></i>
        </li>

        <li class="layui-nav-item layui-hide-xs"><a href="/show/1/">标注展示</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="/api/to_annotation_without_image/">不看图片标注</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="/api/to_annotation_with_image/">看图片标注</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="/check_annotation/">查看标注</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="/management/">后台管理</a></li>
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          <!-- 添加用户 -->
          <!-- 给用户分配任务量 -->
          <li class="layui-nav-item"><a href="javascript:;">用户管理</a></li>
          <li class="layui-nav-item"><a href="javascript:;">数据管理</a></li>
        </ul>
      </div>
    </div>

    <div class="layui-body">
      <form class="layui-form" action="" style="padding-top: 20px;">
        <div class="layui-inline">
          <label class="layui-form-label">用户</label>
          <div class="layui-input-inline">
            <select name="modules" lay-verify="required" lay-search="">
              <option value="">直接选择或搜索选择</option>
              {% for username in usernames %}
              <option value="{{ forloop.counter }}">{{ username }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        不看图片标注
        已分配的总任务量 已完成的任务量</br>
        看图片标注
        已分配的总任务量
        <div class="layui-inline">
          <div class="layui-input-block">
            <div class="layui-input-inline">
              <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
  <script src="{% static 'layui/layui.js' %}"></script>
  <script>
    layui.use(['element', 'layer', 'util'], function () {
      var element = layui.element
        , layer = layui.layer
        , util = layui.util
        , $ = layui.$;
    });
  </script>
</body>

</html>